.mainStuff {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.buttons {
  display: flex;
}

.SongItems {
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; */

  display: flex;
  /* gap: 5%; */
  justify-content: center;
  flex-wrap: wrap;
  /* grid-template-columns: auto; */
  /* width: 100%; */
  /* height: 100%; */
}
.SongCard {
  display: flex;
  flex-direction: column;
  background-color: #aec5eb;
  color: #3a405a;
  margin: 5%;
  /* width: 20%; */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  flex: 0 0 20%;
}

img{
  height: 30px;
  width: 30px;
}
/* .flexible{
    flex-grow:1;
} */

.songLength {
  color: #707795;
}
