/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 900 */

/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
} */

.App {
  text-align: center;

  /* width: 100%;
  height: 100%; */
  font-family: Inter;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f9dec9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mainSide {
  width: 80%;
  margin-top: 2%;
  /* height: 100%; */
}
.top {
  display: flex;
  height: 4%;
  background-color: #f9dec9;
  color: #3a405a;
  justify-content: center;
  align-items: center;
  margin-bottom: 0%;
  h1 {
    margin: 0%;
    padding: 3%;
  }
}

.playlistSection {
  background-color: #f9dec9;
  color: #3a405a;
  display: flex;
  flex-direction: column;
  width: 20%;
  position: sticky;
  margin: 0px;
  /* height: 50%; */
  /* height: 100%; */
  h2 {
    color: #685044;
  }
}

.body {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
}

.filterSortButtons {
  display: flex;
  flex-direction: row;
}
